@using Jendamark.Assignment.Models
@using Jendamark.Assignment.Services.Interfaces
@using System.ComponentModel.DataAnnotations
@inject IDeviceService DeviceService

<ModalContent Centered="true">
    <ModalHeader>
        <ModalTitle>@(_selectedDevice?.DeviceID != 0 ? "Edit Device" : "Add Device")</ModalTitle>
        <CloseButton />
    </ModalHeader>
    <ModalBody>
        <Validations @ref="validations" Mode="ValidationMode.Auto" Model="@newDevice" ValidateOnLoad="false">
            <Field>
                <FieldLabel>Device Type</FieldLabel>
                <select class="form-control" @onchange="OnDeviceTypeChanged">
                    @foreach (DeviceType type in Enum.GetValues(typeof(DeviceType)))
                    {
                        <option value="@type" selected="@((type == newDevice?.DeviceType) ? "selected" : null)">@type</option>
                    }
                </select>
                @if (showDeviceError)
                {
                    <div class="invalid-feedback" style="display:block !important"> Device type is required </div>
                }
            </Field>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <Validation>
                    <TextEdit Placeholder="Enter name" @bind-Text="@newDevice.Name">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>

            @* Conditional Fields for LaserCutter *@
            @if (newDevice is LaserDevice laserDevice)
            {
                <div>
                    <FieldLabel>Laser Intensity:</FieldLabel>
                    <input type="number" class="form-control" @bind-value="laserDevice.LaserIntensity" placeholder="Enter Intensity..." />
                </div>
                <div>
                    <FieldLabel>Safety Check Required:</FieldLabel>
                    <Check TValue="bool" @bind-Checked="@laserDevice.SafetyCheckRequired" />
                </div>
            }
            @* Conditional Fields for QualityAssuranceScanner *@
            @if (newDevice is QualityAssuranceScannerDevice qaDevice)
            {
                <div>
                    <FieldLabel>Validation Code:</FieldLabel>
                    <Validation>
                        <TextEdit Placeholder="Enter Code" @bind-Text="qaDevice.ValidationCode">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </div>
                <div>
                    <FieldLabel>Outcome Status:</FieldLabel>
                    <Validation>
                        <TextEdit Placeholder="Enter Outcome" @bind-Text="qaDevice.OutcomeStatus">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </div>
            }

        </Validations>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Secondary" Clicked="@closeModal">Close</Button>
        @if (_selectedDevice.DeviceID != 0)
        {
            <Button Color="Color.Primary" Clicked="@UpdateDevice">Update Changes</Button>
        }
        else
        {
            <Button Color="Color.Primary" Clicked="@SaveDevice">Save Changes</Button>
        }
    </ModalFooter>
</ModalContent>

@code {
    private Device newDevice = new Device();
    private string selectedDeviceType = "";
    private string name { get; set; } = "";
    private Device _selectedDevice;
    //Params
    [Parameter]
    public Device SelectedDevice
    {
        get => _selectedDevice;
        set
        {
            _selectedDevice = value;
            if (_selectedDevice != null)
            {
                // Copy the values from SelectedOperation to newOperation
                newDevice = _selectedDevice;
                selectedDeviceType = _selectedDevice.DeviceType.ToString();
            }
        }
    }

    [Parameter] public EventCallback<bool> OnClose { get; set; }

    private int deviceIdCounter = 1;

    private bool showDeviceError = false;

    Validations validations = new Validations();

  
    private async Task UpdateDevice()
    {
        DeviceService.UpdateDevice(newDevice);
        newDevice = new Device();
        await OnClose.InvokeAsync(true);
    }
    private async Task closeModal()
    {
        await OnClose.InvokeAsync(true);
    }
  
    private void OnDeviceTypeChanged(ChangeEventArgs e)
    {
        if (e.Value != null && Enum.TryParse(typeof(DeviceType), e.Value.ToString(), out var deviceTypeEnum))
        {
            var selectedDeviceType = (DeviceType)deviceTypeEnum;
            newDevice = selectedDeviceType switch
            {
                DeviceType.LaserCutter => new LaserDevice
                    {
                        Name = newDevice.Name,
                        DeviceID = newDevice.DeviceID 
                    },
                DeviceType.QualityAssuranceScanner => new QualityAssuranceScannerDevice
                    {
                        Name = newDevice.Name,
                        DeviceID = newDevice.DeviceID
                    },
                _ => new Device
                    {
                        Name = newDevice.Name,
                        DeviceID = newDevice.DeviceID
                    }
            };
            newDevice.DeviceType = selectedDeviceType;
            showDeviceError = false;
            StateHasChanged();
        }
    }
    private async Task SaveDevice()
    {
        if (await validations.ValidateAll())
        {
            if (selectedDeviceType == "")
            {
                showDeviceError = true;
                return;
            }

            newDevice.DeviceID = deviceIdCounter;
            DeviceService.AddDevice(newDevice);
          

            deviceIdCounter++;
            newDevice = new Device(); // Reset
            await OnClose.InvokeAsync(true);
        }
    }


}
